<div class="bg-white">
    <div class="container mx-auto">
        <div class="grid grid-flow-col p-3 gap-4">
            <div class="border-r border-black">
                <img src="https://storage.googleapis.com/mm-online-bucket/ecommerce-website/uploads/media/mm-logo.png"
                    alt="logo">
            </div>
            <div class="border-r border-black">
                MM Mega Market An Phú
            </div>
            <div class="border-r border-black">
                THÔNG TIN CÔNG TY
            </div>
            <div class="border-r border-black">
                HỖ TRỢ
            </div>
            <div class="">
                LIÊN HỆ
            </div>
        </div>
    </div>
</div>